<!DOCTYPE html>
<html lang="en">
<head><title>css</title></head>
html { 
}


body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  padding: 40px;
  color: #707a84;
  border-top: 10px solid #dcb94b;
  background: #0d141e;
}

header { 
  position: sticky;
  top: 0;  
  background-color: #0d141e;  
  padding: 10px 0;
  border-bottom: 4px solid #dcb94b;
  display: flex; 
  justify-content: center; 
  align-items: center; /*please center*/
}

nav ul { 
  display: flex;
  justify-content: center;
}

nav ul li { 
  margin: 0 15px;      
}

h1{ 
  font-size: 3em;
  margin: 0;
  margin-top: 20px;
  color: #9b651f;
}

.copywright {
  text-align: center;
  margin: 40px auto; 
  padding: 20px;
}

a {
  list-style-type: none;
  color: #9b651f;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
ul {
  list-style: none; /* I'm really trying to get rid of these bullet points */
  margin: 0;
  padding: 0;
}
a:hover {
  color: #dcb94b;
}

p {
  border-bottom: 2px dotted #ddb84e; 
  padding-bottom: 10px; 
}

/* @media CSS # 1. (tablets and phones) */
@media (max-width: 768px) {
  body {
    margin: 20px;
    padding: 10px; 
  }

  /* @media CSS # 2. (mobile phones) */
@media (max-width: 480px) {
  p {
    font-size: 0.9em; 
  }

  h1 {
    font-size: 1.5em; 
  }
