<!DOCTYPE html>
<html lang="en">
<head><title>css</title></head>
html { 
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
  padding: 40px;
  color: #242424;
  border-top: 10px solid #ab9d60;
  background: #1f2036;
}

header { 
  position: sticky;
  top: 0;  
  background-color: #1f2036;  
  padding: 10px 0;
  border-bottom: 4px solid #ab9d60;
}

nav ul { 
  display: flex;
  justify-content: center;
}

nav ul li { 
  margin: 0 15px;      
}

h1{ 
  font-size: 3em;
  margin: 0;
  margin-top: 20px;
}

.copywright {
  text-align: center;
  margin: 40px auto; 
  padding: 20px;
}

a:hover {
  color: #ab9d60;
}
